@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

nav {
  display: flex;
  padding: 0.5% 2%;
  background-color: #C6EFFF;
}

nav ul {
  display: flex;
  width: 100%;
  gap: 2%;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #C81B16;
}

/* landing page */

.landing-section {
  display: flex;
  flex-direction: column;
  padding: 1% 3%;
}

.landing-section-heading {
  color: #00B0F5;
}

.landing-section-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  gap: 2%;
}

hr {
  width: 50%;
  color: #00B0F5;
}

.landing-add-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.landing-add-btn {
  border: none;
  border-radius: 50px;
  padding: 5px 7px;
  background-color: #C81B16;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.434) 1.75px 1.75px;
}

.landing-add-btn:hover {
  color: #00B0f5;
  box-shadow: rgba(0, 0, 0, 0.434) 1px 1px;
}

/* recently applied section */

.recently-applied {
  display: flex;
  flex-direction: column;
  border: 2px solid #00B0f5;
  border-radius: 20px;
  padding: 2%;
  /* filter: drop-shadow(4px 1px 5px #000000); */
  /* box-shadow: #007bac58 2px 2px 2px 2px; */
  width: 25vw;
  color: #C81B16;
}

.recently-applied p span {
  font-weight: bold;
}

.recently-applied button, .landing-manage button {
  max-width: fit-content;
  align-self: center;
  font-family: inherit;
  margin: 1%;
  border: none;
  border-radius: 5%;
}

.recently-applied button {
  background-color: #00B0F5;
  padding: 1% 2%;
  box-shadow: rgba(0, 0, 0, 0.434) 2px 2px;
  filter: drop-shadow(4px 1px 2px #0000008c);
}

.recently-applied button:hover {
  box-shadow: rgba(255, 19, 19, 0.434) 1px 1px;
  font-weight: bold;
}

#recently-applied-section {
  padding-bottom: 2%;
}

/* status check section */

/* manage searches section */

.landing-manage {
  border-radius: 10px;
  padding: 5%;
  width: 250px;
  text-align: center;
}

.landing-manage {
  font-weight: 500;
}

.landing-manage button {
  padding: 1% 4%;
  border-radius: 5px;
}

.landing-manage-add {
  background-color: #C81B16;
  color: white
}

.landing-manage-add button {
  background-color: #00B0F5;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.68) 1.75px 1.75px;
}

.landing-manage-add button:hover {
  color: black;
  box-shadow: rgba(255, 255, 255, 0.68) 1px 1px;
}

.landing-manage-update {
  background-color: #00B0F5;
  color: white;
}

.landing-manage-update button {
  background-color: #C81B16;
  color: white;
  box-shadow: #000000aa 1.75px 1.75px;
}

.landing-manage-update button:hover {
  box-shadow: #ffffffaa 1px 1px;
  color: #00B0F5;
}

.landing-manage-delete {
  background-color: lightgray;
}

.landing-manage-delete button {
  background-color: black;
  color: white;
  box-shadow: #C81B16 1.75px 1.75px;
}

.landing-manage-delete button:hover {
  box-shadow: #C81B16 1px 1px;
  color: #C81B16;
}

@media (max-width: 700px) {
  .landing-section-container {
    display: flex;
    flex-direction: column;
  }
  .recently-applied {
    width: 100%;
    height: 100%;
  }
  .landing-add-search-section {
    padding-top: 5%;
  }
}

@media (max-width: 700px) {
  .landing-manage {
    width: 100%;
    margin: 1%;
  }
}


/* manage searches page  */

.job-searches-list {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.job-search-items {
  display: flex;
  justify-content: space-around;
  border: 0.5px solid rgba(0, 0, 0, 0.749);
  border-radius: 50px;
  margin: 0.75% 1%;
  box-shadow: rgba(0, 0, 0, 0.434) 1.5px 1.5px;
  align-items: center;
}

.search-id {
  font-weight: bolder;
}

.see-more-btn {
  width: min-content;
  height: min-content;
  padding: 0.5% 0.75%;
  border-radius: 50%;
  background-color: #C81B16;
  border: none;
  color: white;
  font-weight: 900;
}

@media (max-width: 600px) {
  .job-search-items {
    flex-direction: column;
    /* justify-content: space-center; */
  }
  
}